md-dialog(ng-controller='adminViewCtrl')
    form
        md-toolbar
            div.md-toolbar-tools
                h2 Add Device
        md-content
            div.md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                    label MAC:
                    input(type='text', ng-model='form.device.mac', ng-init='form.device.mac')
                md-input-container.md-block(flex-gt-sm)
                    label Location:
                    input(type='text',ng-model='form.device.location')

        md-toolbar
            div.md-toolbar-tools
                h2 Add Profile
        md-content
            div.md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                    label Name:
                    input(type='text', ng-model='form.profile.name')
                md-input-container.md-block(flex-gt-sm)
                    label Device State:
                    input(type='text',ng-model='form.profile.state')


        md-dialog-actions
            span(flex)
            md-button.md-primary(ng-click="submit('add')") Add
                md-icon add

            md-button.md-primary(ng-click="dismiss()") Cancel
                md-icon cancel
