ul(ng-controller='loginCtrl')
    li.navigate Admin:
        button(ng-click='logout()') log out

table(ng-controller='viewPaneCtrl')
    tr
        td
            button.outer(ng-click='switch("scan")') SCAN
        td
            button.outer(ng-click='switch("add")') ADD
    tr
        td
            button.outer(ng-click='switch("update")') UPDATE
        td
            button.outer(ng-click='switch("delete")') REMOVE

table(id='viewPane')
    tr
        td(id='loadPane', ng-include='template.url')


