div.md-padding(ng-controller="loginCtrl", id="popupContainer", ng-cloak)
    div.dialog-demo-content(layout="row", layout-wrap, layout-margin)
        md-button.md-primary.md-raised(flex="100", flex-gt-md="auto")
            md-icon(ng-click="logout()") lock_outline

table(ng-controller='adminViewCtrl')
    tr
        td
            button.outer(ng-click='switch("scan")') SCAN
        td
            button.outer(ng-click='switch("add")') ADD
    tr
        td
            button.outer(ng-click='switch("update")') UPDATE
        td
            button.outer(ng-click='switch("delete")') REMOVE

div(ng-include='template.url')


