ul(ng-controller='loginCtrl')
    li.navigate Admin:
        button(ng-click='logout()') log out
table(ng-controller='adminCtrl')
    tr
        td
            button.outer(ng-click='scanDev()') SCAN
        td
            button.outer(ng-click='addDev()') ADD
    tr
        td
            button.outer(ng-click='updateDev()') UPDATE
        td
            button.outer(ng-click='deleteDev()') REMOVE

