ul(ng-controller='loginCtrl')
    li.navigate Admin:
        button(ng-click='logout()') log out
table
    tr
        td
            button.outer SCAN
        td
            button.outer ADD
    tr
        td
            button.outer UPDATE
        td
            button.outer REMOVE

