ul(ng-controller='loginCtrl')
    li.navigate Admin:
        button(ng-click='logout()') log out

table(ng-controller='adminViewCtrl')
    tr
        td
            button.outer(ng-click='switch("scan")') SCAN
        td
            button.outer(ng-click='switch("add")') ADD
    tr
        td
            button.outer(ng-click='switch("update")') UPDATE
        td
            button.outer(ng-click='switch("delete")') REMOVE

div(ng-include='template.url')


