div.md-padding(ng-controller="loginCtrl", id="popupContainer", ng-cloak)
    div.dialog-demo-content(layout="row", layout-wrap, layout-margin)
        md-button.md-primary.md-raised(flex="100", flex-gt-md="auto")
            md-icon(ng-click="showAdvanced($event)") lock_open
                div.hide-gt-sm(layout='row', layout-align='center center, flex='100')
                    md-checkbox(ng-model="customFullscreen", aria-label="Fullscreen Custom Dialog") Custom Dialog Fullscreen

    div(flex, ng-include='template.url')

