table(id='viewPane')
    tr
        td(id='loadPane')
            ul(ng-controller='adminCtrl', ng-repeat='installation in installations')
                li Device: {{ installation.device.location }}
                button.myButton(ng-click='submit("delete")') Delete Device
