md-dialog(ng-controller='adminViewCtrl')
    form
        md-toolbar
            div.md-toolbar-tools
                h2 Scheduled Jobs
        md-dialog-content(ng-repeat='scheduledJob in scheduledJobs')

            div.md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                    p Job ID: {{scheduledJob.name}}
                md-button.md-primary(ng-click="submit('delete_job')") Delete
                    md-icon delete

        md-dialog-actions
            span(flex)
            md-button.md-primary(ng-click="dismiss()") Cancel
                md-icon cancel
