md-dialog(aria-label="Administrator Login", ng-cloak)
    form
        md-toolbar
            div.md-toolbar-tools
                h2 Administrator Login
        md-dialog-content
            div.md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                    label Username
                    input(type='text', ng-model='form.username')
                md-input-container.md-block(flex-gt-sm)
                    label Password
                    input(type='password', ng-model='form.password')
        md-dialog-actions(layout="row")
            span(flex)
            md-button(ng-click="login()") Login
            md-button(ng-click="cancel()", style="margin-right:20px;") Cancel
