table(ng-controller='panelViewCtrl')
    tr
        td
            button.outer(ng-click='switch("dim")') Dim
        td
            button.outer(ng-click='switch("schedule")') Schedule
    tr
        td
            button.outer(ng-click='switch("colour")') Colour
        td
            button.outer(ng-click='switch("apply")') Apply

