table(ng-controller='optionsCtrl')
    tr
        td
            button.outer(ng-click='') Dim
        td
            button.outer(ng-click='') Schedule
    tr
        td
            button.outer Colour
        td
            button.outer(ng-click='apply("/views/default.html")') Apply

