div#admin(ng-controller='panelViewCtrl', layout="row", layout-padding layout-wrap, layout-fill, style="padding: 5px, margin: auto;", ng-cloak)
    md-whiteframe.md-whiteframe-1dp(flex-sm="45", flex-gt-sm="35", flex-gt-md="25", layout, layout-align="center center")
        span
            .md-whiteframe-3dp
                button.md-background(ng-click='switch("schedule")', layout, layout-align="center center") Schedule
    md-whiteframe.md-whiteframe-1dp.md-accent(flex-sm="45", flex-gt-sm="35", flex-gt-md="25", layout, layout-align="center center")
        span
            .md-whiteframe-3dp
                button(ng-click='switch("dim")', layout, layout-align="center center") Dim
div#admin(ng-controller='panelViewCtrl', layout="row", layout-padding layout-wrap, layout-fill, style="padding: 5px, margin: auto;", ng-cloak)
    md-whiteframe.md-whiteframe-1dp(flex-sm="45", flex-gt-sm="35", flex-gt-md="25", layout, layout-align="center center")
        span
            .md-whiteframe-3dp
                button.md-background(ng-click='switch("colour")', layout, layout-align="center center") Colour
    md-whiteframe.md-whiteframe-1dp.md-accent(flex-sm="45", flex-gt-sm="35", flex-gt-md="25", layout, layout-align="center center")
        span
            .md-whiteframe-3dp
                button(ng-click='switch("profiles")', layout, layout-align="center center") Profiles
