table(ng-controller='panelViewCtrl')
    tr(ng-repeat='panel in panels')
        td(class='md-accent')
            md-button.outer(ng-click='newState()') {{panel.device.location}} ON/OFF
        td(class='md-primary-hue-1')
            md-button.outer(ng-click='showOptions("options")') OPTIONS

