ul(ng-controller='loginCtrl')
    li.navigate Admin:
        input(type='text', placeholder='username', ng-model='form.username')
        input(type='password', ng-model='form.password')
        input(type='submit', ng-click='submit()')
    table(ng-controller='panelCtrl')
        tr
            td
                button.outer(ng-click='newState()') ON/OFF
            td
                button.outer(ng-click='showOptions()') OPTIONS
        tr
            td
                button.outer(ng-click='newState()') ON/OFF
            td
                button.outer(ng-click='showOptions()') OPTIONS
