ul(ng-controller='loginCtrl')
    li.login Admin:
        input(type='text', placeholder='username', ng-model='form.username')
        input(type='password', ng-model='form.password')
        input(type='submit', ng-click='submit()')
ul
    .outer
        li.panel
            button.room
        li.panel
            button.room

