ul(ng-controller='loginCtrl')
    li.navigate Admin:
        input(type='text', placeholder='username', ng-model='form.username')
        input(type='password', ng-model='form.password')
        input(type='submit', ng-click='submit()')

    table(ng-controller='panelCtrl')
        tr(ng-repeat='panel in panels')
            td
                button.outer(ng-click='newState()') {{panel.device.location}} ON/OFF
            td
                button.outer(ng-click='showOptions()') OPTIONS
