table(ng-controller='panelViewCtrl')
    tr(ng-repeat='panel in panels')
        td
            button.outer(ng-click='newState()') {{panel.device.location}} ON/OFF
        td
            button.outer(ng-click='showOptions("options")') OPTIONS

