ul(ng-controller='loginCtrl')
    li Admin:
        input(type='text', placeholder='username', ng-model='form.username')
        input(type='password', ng-model='form.password')
        input(type='submit', ng-click='submit()')
ul
    li
        label(for='selector') Select Room
        select(name='selector')
