md-dialog(ng-controller='optionsCtrl')
    md-toolbar
        div.md-toolbar-tools
            h2 Create Profile/Add To Profile
    md-content
        div.md-dialog-content
            md-input-container(ng-repeat='profile in profiles')
                    md-button(ng-model='form.profile', ng-click='apply("profiles")') {{profile.profile.profile_name}}
        div.md-dialog-content
            md-button(ng-click='dismiss()') Cancel
                    md-icon cancel


