md-dialog(ng-controller='optionsCtrl')
    md-toolbar
        div.md-toolbar-tools
            h2 Add To Profile
    md-content
        div.md-dialog-content
            md-input-container(ng-repeat='profile in scheduleDevice.profiles')
                md-checkbox(ng-model='profile.value', value=false) {{profile.name}}

    div(layout)
        md-button(ng-click='apply("profiles")')
            md-icon done
        md-button(ng-click='dismiss()') Cancel
            md-icon cancel


