md-dialog(ng-controller='adminViewCtrl', aria-label="List dialog")
    md-toolbar
        div.md-toolbar-tools
            h2 Scan Device
    md-dialog-content
        md-list.md-dialog-content
            md-list-item(ng-repeat="device in devices")
                p {{device.mac}}
                md-button.md-primary(ng-click="submit('add_from_scan', $event)") add
                    md-icon add
                md-button.md-primary(ng-click='testDev()') test
                    md-icon lightbulb_outline

    md-dialog-actions
        span(flex)
        md-button.md-primary(ng-click="dismiss()") Cancel
            md-icon cancel
