div(class='md-inline-form', layout='column', ng-cloak, ng-controller='optionsCtrl')
    md-content(layout-gt-sm='row', layout-padding)
        div
            md-input-container
                md-checkbox(ng-model='scheduleDevice.offAtSunrise', value=false) Turn OFF @ Sunrise
            md-input-container
                md-checkbox(ng-model='scheduleDevice.onAtSunset', value=false) Turn ON @ Sunset
        div
            md-input-container
                md-checkbox(ng-model='scheduleDevice.recurDaily', value=false) Repeat Daily
            md-input-container
                md-checkbox(ng-model='scheduleDevice.recurWeekly', value=false) Repeat Weekly
    md-button(ng-click='apply("schedule")') Apply
        md-icon done
    md-button(ng-click='cancel()') Cancel
        md-icon cancel
