div(class='md-inline-form', layout='column', ng-cloak, ng-controller='optionsCtrl')
    form
        md-toolbar
            div.md-toolbar-tools
                h2 Single Occurrence
        md-content(layout-gt-sm='row', layout-padding)
            md-dialog-content
                md-datepicker(ng-model='form.today', md-placeholder='Begin')
        md-content(layout-gt-sm='row', layout-padding)
            md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                md-label Time Of Day
                    input(type='time', min='00:00:00', max='23:59:59', ng-model='form.setpoint', required)
        md-content(layout-gt-sm='row', layout-padding)
            md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                    md-label Device State
                    md-select(ng-model='form.turnDevOn', placeholder='State')
                        md-option(ng-value='turnDevOn.value', ng-repeat='turnDevOn in turnDevOn', ng-disabled='form.offAtSunrise || form.onAtSunset') {{turnDevOn.name}}
                md-input-container.md-block(flex-gt-sm)
                    md-checkbox(ng-model='form.offAtSunrise', value=false, aria-label='off at sunrise', ng-disabled='form.turnDevOn !== undefined || form.onAtSunset') Off @ Sunrise
                md-input-container.md-block(flex-gt-sm)
                    md-checkbox(ng-model='form.onAtSunset', value=false, aria-label='on at sunset', ng-disabled='form.turnDevOn !== undefined || form.offAtSunrise') On @ Sunset

        md-toolbar
            div.md-toolbar-tools
                h2 Temporary Recurrence
        md-content(layout-gt-sm='row', layout-padding, ng-blur='form.recurWeekly')
            md-dialog-content
                md-datepicker(ng-model='form.dateBegin', md-placeholder='Begin', ng-disabled='form.recurDaily || form.recurWeekly')
        md-content(layout-gt-sm='row', layout-padding, ng-blur='form.recurWeekly')
            md-dialog-content
                md-datepicker(ng-model='form.dateEnd', md-placeholder='End', ng-disabled='form.recurDaily || form.recurWeekly')

        md-toolbar
            div.md-toolbar-tools
                h2 Indefinite Recurrence
        md-content(layout-gt-sm='row', layout-padding)
            md-dialog-content(layout-gt-sm='row', layout-padding)
                md-input-container
                    md-checkbox(ng-model='form.recurDaily', value=false, aria-label='repeat daily', ng-disabled='form.recurWeekly || form.dateEnd !== undefined') Repeat Daily
            md-dialog-content(layout-gt-sm='row', layout-padding)
                md-input-container
                    md-checkbox(ng-model='form.recurWeekly', value=false, aria-label='repeat weekly', ng-disabled='form.recurDaily || form.dateEnd !== undefined') Repeat Weekly

        div(layout)
            md-button(ng-click='apply("schedule")') Apply
                md-icon done
            md-button(ng-click='dismiss()') Cancel
                md-icon cancel
