table(ng-controller='optionsCtrl')
    tr
        td
            li
                label Time
                input(type='time')
        td
            li
                label
                input(type='date')
    tr
        td Daily
            input(type='checkbox')
        td Weekly
            input(type='checkbox')

    tr
        td
            button(ng-click='return()') Return