div(class='md-inline-form', layout='column', ng-cloak, ng-controller='optionsCtrl')
    md-content(layout-gt-sm='row', layout-padding)
        div
            md-input-container
                md-checkbox Turn OFF @ Sunrise
            md-input-container
                md-checkbox Turn ON @ Sunset
        div
            md-input-container
                md-checkbox Repeat Daily
            md-input-container
                md-checkbox Repeat Weekly
    md-button(ng-click='apply("schedule")') Apply
        md-icon done
    md-button(ng-click='cancel()') Cancel
        md-icon cancel
