md-dialog(ng-controller='adminViewCtrl')
    form
        md-toolbar
            div.md-toolbar-tools
                h2 Modify Device
        //md-dialog-content(ng-repeat='installation in installations')
        md-dialog-content(ng-repeat='panel in panels')

            div.md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                    label(for='location') Location: {{panel.device.location}}
                    input(type='text',name='location', ng-model='panel.device.location')
                md-button.md-primary(ng-click="submit('update_device')") Update
                    md-icon update
                md-button.md-primary(ng-click="submit('delete_device')") Delete
                    md-icon delete

        md-dialog-actions
            span(flex)
            md-button.md-primary(ng-click="dismiss()") Cancel
                md-icon cancel
