md-dialog(ng-controller='adminViewCtrl')
    form
        md-toolbar
            div.md-toolbar-tools
                h2 Update Device
        md-dialog-content(ng-repeat='installation in installations')
            div.md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                    label(for='location') Location: {{installation.device.location}}
                    input(type='text',name='location', ng-model='installation.device.location')
                md-button.md-primary(ng-click="submit('update')") Update
                    md-icon update

        md-dialog-actions
            span(flex)
            md-button.md-primary(ng-click="dismiss()") Cancel
                md-icon cancel
