md-dialog(ng-controller='adminViewCtrl')
    form
        md-toolbar
            div.md-toolbar-tools
                h2 Modify Profile
        md-content(ng-repeat='profile in profiles')
            div.md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                    label(for='profile_name') Name: {{profile.profile.profile_name}}
                    input(type='text', name='profile_name', ng-model='profile.profile_name')
                md-input-container.md-block(flex-gt-sm)
                    md-checkbox(ng-model='profile.profile.active', name='profile active', value=false) Active
                md-input-container.md-block(flex-gt-sm)
                    md-checkbox(ng-model='profile.profile.recur_daily', name='profile recur daily', value=false, ng-disabled='profile.profile.recur_weekly || !profile.profile.active') Recur Daily
                md-input-container.md-block(flex-gt-sm)
                    md-checkbox(ng-model='profile.profile.recur_weekly', name='profile recur weekly', value=false, ng-disabled='profile.profile.recur_daily || !profile.profile.active') Recur Weekly
                md-input-container.md-block(flex-gt-sm)
                    md-label Run Profile At: {{profile.profile.hour}}hrs {{profile.profile.minute}}mins
                    input(type='time', min='00:00:00', max='23:59:59', ng-model='profile.profile.setpoint', aria-label='setpoint', ng-disabled='!profile.profile.active')

                md-button.md-primary(ng-click="submit('update_profile')") Update
                    md-icon update
                md-button.md-primary(ng-click="submit('delete_profile')") Delete
                    md-icon delete

        md-dialog-actions
            span(flex)
            md-button.md-primary(ng-click="dismiss()") Cancel
                md-icon cancel
