md-dialog(ng-controller='adminViewCtrl')
    form
        md-toolbar
            div.md-toolbar-tools
                h2 Modify Profile
        md-content(ng-repeat='profile in profiles')
            div.md-dialog-content
                md-input-container.md-block(flex-gt-sm)
                p Name: {{profile.profile.profile_name}}
                    md-button.md-primary(ng-click="submit('update_profile')") Update
                        md-icon update
                    md-button.md-primary(ng-click="submit('delete_profile')") Delete
                        md-icon delete

                md-input-container.md-block(flex-gt-sm)
                    md-checkbox(ng-model='profile.profile.active', name='profile active', value=false) Active
                md-input-container.md-block(flex-gt-sm)
                    md-checkbox(ng-model='profile.profile.set', name='sunset on', value=false, ng-disabled='profile.profile.rise || !profile.profile.active') On @ Sunset
                md-input-container.md-block(flex-gt-sm)
                    md-checkbox(ng-model='profile.profile.rise', name='sunset off', value=false, ng-disabled='profile.profile.set || !profile.profile.active') Off @ Sunrise
                md-input-container.md-block(flex-gt-sm)
                    md-label(ng-hide='profile.profile.set || profile.profile.rise') Run Profile At: {{profile.profile.hour}}hrs {{profile.profile.minute}}mins
                    input(type='time', min='00:00:00', max='23:59:59', ng-model='form.setpoint', aria-label='setpoint', ng-disabled='!profile.profile.active || profile.profile.set || profile.profile.rise')

                //md-button.md-primary(ng-click="submit('update_profile')") Update
                //    md-icon update
                //md-button.md-primary(ng-click="submit('delete_profile')") Delete
                //    md-icon delete

        md-dialog-actions
            span(flex)
            md-button.md-primary(ng-click="dismiss()") Cancel
                md-icon cancel
