body {
    margin: auto;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    /*width: 450px;*/

}

ul {
    list-style: none;
    margin:auto;
    padding:0px;
    /*width: 350px;*/
}

.navigate {
    margin: auto;
    display: table;
    background-color: #A7D0FA;
    padding: 10px;
    border-radius: 5px;
}

.navigate input {
    display: inline-flex;
    margin: auto;
    text-align: center;
    width: auto;
}

table {
    display: table;
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    border: 2px solid;
    border-radius: 5px;
}

td {
    margin: 20px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.outer {
    width: 100%;
    height: 100%;
    padding:none;
    margin: none;
    border-radius: 5px;
}

.adv {
    
}

p {
    margin: auto;
}

.myButton {
    display: inline;
}

.layout-padding {
    list-style: none;
}

/* ANGULAR MATERIAL DESIGN */

.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {
    left: 7px; }

md-toolbar md-fab-actions {
    border-radius: 25%;
    font-size: 12px;
}

md-button {
    padding: none;
    margin: none;
}

.md-inline-form {
    margin:auto;
}