body {
    margin: auto;

}

ul {
    list-style: none;
    margin:auto;
    padding:0px;
    width: 350px;
}

.navigate {
    margin: auto;
    display: table;
    background-color: #A7D0FA;
    padding: 10px;
    border-radius: 5px;
}

.navigate input {
    display: inline;
    width: 75px;
}

table {
    display: table;
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    border: 2px solid;
    border-radius: 5px;
}

td {
    margin: 20px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.outer {
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

.adv {
    
}